# Core scientific stack
numpy
scipy
pandas
matplotlib
seaborn
jupyter

# EEG / signal processing
mne
pyxdf
muselsl
pylsl

# ML
scikit-learn
sktime[all_extras]

# Optional: artifact removal helpers
# meegkit
